+b.HEADER.header.ibg
  +e.PICTURE.bg_image
    each item, index in content.header.bgImages
      if index === 0
        source(type="image/webp" media="(min-width: 1500px)" srcset= item)
      else if index === 1
        source(type="image/webp" media="(min-width: 993px) and (max-width: 1499px)" srcset= item)
      else if index === 2
        source(type="image/webp" media="(max-width: 992px)" srcset= item)
      else 
        img(src= item alt="bg image")

  +e.body 
    +e.H1.title= content.header.content.title
    +e.H2.subtitle= content.header.content.subTitle
    +e.excerpt= content.header.content.excerpt
    +e.A(href='#').btn= content.header.content.link

+b.A(href='#').go-top