// Placeholder

::-webkit-input-placeholder {
  font-size: inherit;
  color: #999;
}
::-moz-placeholder {
  font-size: inherit;
  color: #999;
} /* Firefox 19+ */
:-moz-placeholder {
  font-size: inherit;
  color: #999;
} /* Firefox 18- */
:-ms-input-placeholder {
  font-size: inherit;
  color: #999;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

// Autofill input

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}
