body {
  &._pc {
    .footer {
      &__link {
        transition: all 0.3s ease;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.footer {
  @include adaptive-value("padding-top", 50, 20);
  @include adaptive-value("padding-bottom", 50, 20);
  background-color: slategray;
  &__container {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__copy {
    @include r-font(24, 16);
    text-transform: uppercase;
    @media (max-width: $sm) {
      text-align: center;
      flex: 0 0 100%;
    }
  }
}
