extends layout/main

block variables
	-var title = 'Психолог Игорь Аристов'

block content
	include ./modules/sections/about.pug
	include ./modules/sections/principles.pug
	include ./modules/sections/comments.pug
	include ./modules/sections/contacts.pug