.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main {
  flex: 1;
  z-index: 2;
}
.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  padding: 0 15px;
}
%section-padding {
  @include adaptive-value("padding-top", 70, 25);
  @include adaptive-value("padding-bottom", 50, 25);
}
%section-title {
  @include r-font(30, 15);
  @include adaptive-value('margin-bottom', 60, 30);
  text-transform: uppercase;
  text-align: center;
}