body {
  &._lock {
    overflow: hidden;
  }
}

.header {
  min-height: 100vh;
  background-attachment: fixed;
  @include adaptive-value("padding-top", 150, 70);
  @include adaptive-value("padding-bottom", 50, 30);
  padding-left: 15px;
  padding-right: 15px;
  &__body {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    text-shadow: 0 4px 5px #000;
    text-transform: uppercase;
    color: #fff;
    @include r-font(30, 18);
    @include adaptive-value("margin-bottom", 50, 25);
  }
  &__subtitle {
    text-shadow: 0 4px 5px #000;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.7);
    @include adaptive-value("margin-bottom", 100, 50);
    @include r-font(70, 30);
    line-height: 1.4;
  }
  &__excerpt {
    text-shadow: 0 4px 5px #000;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    @include r-font(24, 14);
    margin-bottom: 50px;
  }
  &__btn {
    @extend %btn;
    max-width: 290px;
    margin: 0 auto;
  }
}
